/*nav style*/
.nav-logo{
  margin: 0 auto;
  font-weight: 500;
  color:#inherit;
  text-transform: uppercase;
}

/*hero container area*/
.hero-container{
  position:relative;
}

.hero-image{
  width: 100%;
}
/*chap head*/

.chapter-headline{
  font-size:45px;
  font-weight:400;
  text-align: left;
  text-transform: lowercase;
  font-family: Georgia, sans-serif;
  width: 82%;
}

.byline{
  font-size:12px;
  font-weight:400;
  text-align: center;
  color: inherit;
  text-transform: lowercase;
  font-family: 'Zilla Slab', sans-serif;
}


.counter-section{
  margin: 5% auto;
  color: inherit;
}

.counter{
  font-size:250px;
  font-weight:500;
  text-align: center;
  font-family: Georgia, sans-serif;
  padding-bottom: 0;
}

/* text */
p {
  font-family:'Zilla Slab', sans-serif;
  line-height: 180%;
  font-size:17px;
  text-align: left;
  width: 82%;
}

.pull-q{
  font-size:55px;
  font-weight:400;
  text-align: left;
  text-transform: lowercase;
  font-family: Georgia, sans-serif;
  width: 82%;
  color:#D62503;

}

.basic-photo{
width: 75%;

}

.break{
  width: 60%;
}

.button{
font-family:'Zilla Slab', sans-serif;
font-size:17px;
text-align: left;
background-color: fff;
}
/*very small devices media query*/
@media only screen and (max-width: 480px) {
  .break {
    width: 20%;
    }
  .pull-q {
    font-size: 25px;
  }
  .chapter-headline {
    font-size:25px;
  }
  p {
    font-size: 13px;
  }
  .counter{
    font-size:120px;
    font-weight:500;
}

}
/*very small devices media query-end*/

/* small devices media query*/
@media only screen and (max-width: 768px) {
  .break {
    width: 30%;
    }
  .pull-q {
    font-size: 25px;
  }
  .chapter-headline {
    font-size:25px;
  }
  p {
    font-size: 15px;
  }
  .counter{
    font-size:125px;
    font-weight:500;
}
}
/*small devices media query-end*/





potential yellow#F6BA06
warm red color:#D62503;
cardbox #D9A036
<button id="DivHide">i'm done exploring hate crimes per state in 2019</button>

<div id="MyDiv"style="display:none;">
  <iframe title="Hate Crime Incidents per State in 2019" aria-label="Map" id="datawrapper-chart-x7Vs4" src="https://datawrapper.dwcdn.net/x7Vs4/3/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="564"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(a){if(void 0!==a.data["datawrapper-height"])for(var e in a.data["datawrapper-height"]){var t=document.getElementById("datawrapper-chart-"+e)||document.querySelector("iframe[src*='"+e+"']");t&&(t.style.height=a.data["datawrapper-height"][e]+"px")}}))}();
  </script>
  <button id="DivHide">i'm done exploring hate crimes per state in 2019</button>
</div>
<br>
<button id="DivShow">dicover more about hate crimes in the us in 2019</button>

<!--hate crimes map-->
