/* Style starts here*/
#content {
  margin: 0 auto;
  width: 900px;
}
.responsive{
  max-width: 100%;
  width: 100%;
  height: auto;
}
#headline{
  font-family: "Georgia", sans-serif;
  font-size: 45px;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  color: #132E0F;
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: normal;
margin-top: 10px;
margin-bottom: 15px;
color:#5D806D;
}

.p{
  font-size: 12px;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  }

.subhead{
  font-family: "Georgia", sans-serif;
  font-size: 20px;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
  color: #49B33B;
}

.descriptive-chatter{
  font-family: Georgia, serif;
  font-size: 12px;
  text-align: left;
  margin-top: 7px;
  margin-bottom: 7px;
  font-style:italic;
  color:#5D806D;
}

blockquote {
  font: 16px/24px normal helvetica, sans-serif;
  font-style: italic;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left:50px;
  color: #5D806D;
  padding-left: 15px;
  border-left: 4px, solid, #ccc
}
/* End of style*/
